<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue week 8 Individual Coursework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/7080cd0a09.js" crossorigin="anonymous"></script>
    <script src="lessons.js" ></script>


    <style>
        aside {
          width: 15%;
          height: 948px;
          padding-left: 15px;
          padding-bottom: 15px;
          padding-top: 15px;
          margin-right: ;
          float: left;
          font-style: ;
          background-color: lightgray;
        }
        </style>

</head>
<body>
<div id="app" class="container" style="margin-top: 10%;">
<header></header>
    <h1 class="text-center" v-text="sitename" style="margin-bottom: 5%;"></h1>

    <a style="float: right;" href="#" class="btn btn-primary" v-on:click ='showCheckout'>{{cartItemCount}} <span class="fas fa-cart-plus"></span> Checkout</a><br><br><br>
</header>
    
    <div v-if='showProd'>

        <aside>
            <p><b>Sort by</b></p>
  <input type="radio" id="subject" name="sort" value="subject">
  <label for="subject">Subject</label><br>

  <input type="radio" id="location" name="sort" value="location">
  <label for="location">Location</label><br>

  <input type="radio" id="price" name="sort" value="price">
  <label for="price">Price</label><br>

  <input type="radio" id="availability" name="sort" value="availability">
  <label for="price">Availability</label>

  <br>  <br><br>

  <p><b>Sort Order</b></p>
  <input type="radio" id="ascending" name="sort_order" value="ascending">
  <label for="ascending">Ascending</label><br>
  <input type="radio" id="descending" name="sort_order" value="descending">
  <label for="descending">Descending</label><br>  
  
            
        </aside>

        <div class="row" >
            <div v-for="lessons in lesson" class="col-md-4 mb-5">
            <div class="card " style="width: 18rem;border-bottom-width: 5px; border-bottom-color:#0188cc;">
                <img v-bind:src="lessons.image">
                <div class="card-body">
                <h5 class="card-title" v-text = "">Subject : {{lessons.subject}}</h5>
                <p class="card-text" v-html=""> Location : {{lessons.location}} </p>
                <p> <b>Price : ${{lessons.price}}</b></p>
                <p v-if="lessons.availablespace === cartCount(lessons.id) "> Completely Booked</p>
                <!-- <p class="text-danger" v-else-if="lessons.availablespace - cartCount(lessons.id) < 5"> Limited stock Only {{lessons.availablespace - cartCount(lessons.id)}} left!</p> -->
                <p class="text-success" v-else>Available Spaces : {{lessons.availablespace - cartCount(lessons.id)}}</p>

                <button style="float: right;" href="#" class="btn btn-primary" v-on:click ='addToCart(lessons)' v-if='canAddToCart(lessons)' >Add To Cart</button>
                <button disabled="disabled" style="float: right;" href="#" class="btn btn-primary" v-else >Add To Cart</button>
                    <br>
                <div>
                    <p>
                    <span v-for="n in lessons.rating">★</span>
                    <span v-for="n in 5 - lessons.rating">☆</span>
                </p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div v-else>
        <h2>Checkout</h2>
<p>
<strong>First Name:</strong>
<!-- This input field is bound to 'firstName' in the 'order' object -->
<input v-model="order.firstName"/>
</p>
<p>
<strong>Last Name:</strong>
<!-- This input field is bound to 'lastName' in the 'order' object -->
<input v-model="order.lastName"/>
</p>



<p><strong>Address:</strong> <input v-model="order.address"/></p>
<p><strong>City:</strong> <input v-model="order.city"/></p>
<p>
<strong>State:</strong>
<select v-model="order.state">
<option disabled value="">State</option>
<option v-bind:value="state.AL">AL</option>
<option v-bind:value="state.AR">AR</option>
<option v-bind:value="state.CA">CA</option>
<option v-bind:value="state.NV">NV</option>
</select>
</p>
<p><strong>Zip/Postal Code:</strong> <input v-model="order.zip"/></p>

<p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
    <label for="gift">Ship As Gift?</label></p>
    <p><input type="radio" id="home" value="Home" v-model="order.method">
    <label for="home">Home</label>
    <input type="radio" id="business" value="Business" v-model="order.method">
    <label for="business">Business</label></p>
    

    <h2>Order Information</h2>
    <p>First Name: {{order.firstName}}</p>
    <p>Last Name: {{order.lastName}}</p>
    <p>Address: {{order.address}}</p>
    <p>City : {{order.city}}</p>
    <p>Zip Code: {{order.zip}}</p>
    <p>State: {{order.state}}</p>
    <p>Gift: {{order.gift}}</p>
    <p>method: {{order.method}}</p>

    <button @click="submitForm">Place Order</button>
    </div>

    </div>

    <script>
        var vm = new Vue ({
            el: "#app",
            data:{
                showProd: true,
                sitename: 'Lesson Booking',

                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Home',
                    
                    sendGift: "sending as gift",
                    dontSendGift: "Not sending as gift",

                    
                },

                state: {
                    AL: 'Alabama',
                    AR: 'Arizona',
                    CA: 'Canada',
                    NV: 'Nevada',
                },
            
                lesson: lessons,

               cart: []

            },

            methods:{
                
                addToCart: function(lessons) {
                    console.log('testing');
                    this.cart.push(lessons.id);
                },

                showCheckout: function(){
                    console.log(this.showProd);
                    this.showProd = this.showProd ? false : true;
                },

                submitForm() {
                    alert('your order has been submitted');
                },

                canAddToCart: function(lessons){
                    return lessons.availablespace > this.cartCount(lessons.id);
                },

                cartCount(id) {
                    let count = 0;
                    for(let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                    count++;
                        }
                    }
                    return count;
                },

            },

            computed: {
                    cartItemCount: function(lessons){
                        return this.cart.length || '';
                    },

                    
                },

                

            

                            
                        })

    </script>
</body>

</html>